/* MEDIA-QUERY FOR 1160px */

@media screen and (max-width: 1160px) {

    .container {
        max-width: 100%;
    }
}

/* MEDIA-QUERY FOR 768px */

@media screen and (max-width: 768px) {

    .container {
        max-width: 100%;
    }
}

/* MEDIA-QUERY FOR 480px */

@media screen and (max-width: 480px) {

    .container {
        max-width: 100%;
    }

    .steps {
        margin: 3rem 0 0 0;
    }

    .why-us {
        background-color: #222222;
        padding: 3rem 0;
        margin-bottom: 0;
    }

    .row {
        flex-direction: column;
        gap: 72px;
    }

    .row > [class^='col'] {
        width: 100%;
    }
}